---
import Section from "./Section.astro";

---

<Section title="Model S" subtitle="Programe una consulta virtual" color="black">
    <img
        slot="background"
        src="/Model-S.avif"
        alt="Model S"
        class="h-full w-full object-cover object-center"
    />

    <div slot="footer" class="flex justify-center gap-x-4">
        <a
          title="Explorar inventario"
          class="border-[3px] bg-gray-800 border-gray-800 text-sm rounded font-medium text-white px-12 py-2 inline-block "
          href="#">Pedido Personalizado</a
        >
        <a
          title="Prueba de conducción"
          class="border-[3px] bg-gray-100/50 text-sm rounded font-medium text-black px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors duration-300 backdrop-blur-sm"
          href="#">Saber Mas</a
        >
      </div>
</Section>